body {
  background-color: rgb(216,216,218);
}

.main-div {
  background-color: white;
  margin: 2% 20% 2% 20%;
  padding: 1% 4% 4% 4%;
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 16px;
  color: rgba(16,32,64,0.8);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.main-header {
  font-family: "Lato";
  font-weight: bolder;
  font-size: 72px;
  color: rgb(0,148,148);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.sub-header {
  color: rgba(32,48,64,0.5);
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.main-img {
  box-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}
