
body {
	margin: 0%;
	padding: 0%;
	text-align: center;
	background-color: rgb(16,16,20);
	vertical-align: middle;
	min-width: 320px;
	font-size: 0px;
	font-family: "Roboto";
}

.title {
	font-family: "Roboto";
	font-size: 40px;
	font-weight: bold;
	margin: auto;
	width: 100%;
	padding: 1%;
	text-align: center;
	vertical-align: middle;
	background-color:  teal;
	color: white;
}

.info {
	font-family: "Roboto";
	color: white;
	padding: 1%;
	margin: auto;
	text-align: center;
}

#loc { font-size: 34px; }
#weather { font-size: 28px; }
#temp { font-size: 48px; }
#wind { font-size: 28px; }
#icon { display: inline-block;}

#F {
	font-family: "Roboto";
	color: red;
	text-decoration: none;
}
#F:hover { text-decoration: none; }

#C {
	font-family: "Roboto";
	color: rgb(0,64,255);
	text-decoration: none;
}
#c:hover { text-decoration: none;}

#speed {
	font-family: "Roboto";
	color: rgb(0,164,255);
	text-decoration: none;
}
#speed:hover { text-decoration: none;}

a {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
	opacity: 0.7;
}
